$dark-grey: rgba(75, 75, 75, 1);
$lighter-dark-grey: rgba(85, 85, 85, 1);
$darker-light-grey: rgba(150, 150, 150, 1);
$light-grey: rgba(180, 180, 180, 1);
$lighter-grey: rgba(250, 250, 250, 1);
$transparent-white: rgba(255, 255, 255, 0.6);

$transparent-blue: rgba(39, 48, 96, 0.6);

$open-sans: 'Open Sans';
$source-sans: 'Source Sans Pro';

$gigantic: 1.6rem;
$huge: 1.4rem;
$xlarge: 1.2rem;
$large: 0.9rem;
$medium: 0.8rem;
$small: 0.7rem;
$xsmall: 0.6rem;
$tiny: 0.4rem;
$xtiny: 0.3rem;
$xxtiny: 0.2rem;
$xxxtiny: 0.1rem;
